.classification-list {
  list-style-type: none;
  padding: 0;
}

.classification-item {
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
}

.classification-rank {
  font-weight: bold;
  margin-right: 5px;
}

.classification-name {
  font-style: italic;
}
