.classification-list {
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-template-columns: auto auto;
  width: max-content;
  margin: auto;
}

.classification-item {
  display: contents;
}

.classification-rank {
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}

.classification-name {
  font-style: italic;
  text-align: left;
}
